main {
    display: flex;
    flex-direction: column;
    padding: 10vh 10vw;
    height: 91vh;
    background-color: #E3F1FC;
}

p {
    margin-bottom: 2vh;
    font-size: 18px;
}

input, select {
    margin-bottom: 5vh;
    font-size: 18px;
    background: #ffffff;
}

#button-box{
    display: flex;
    /* justify-content: space-between; */
    justify-content: flex-end;
    margin-top: 5vh;
}

.button {
    width: 25vw;
    height: 5vh;
}

#add {
    background: blue;
    color: white;
    border: none;
    border-radius: 5px;
}