* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  background-color: greenyellow;
  width: 80%;
  height: 90vh;
  margin: 0 auto;
}

.wood-container {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.wood-container::after {
  content: "";
  display: block;
  width: 30%;
}

.wood-container::after {
  content: "";
  display: block;
  width: 30%;
}

.wood {
  width: 30%;
  height: 30%;
  background-position: center;
  background-size: cover;
}

footer {
  width: 100%;
  height: 10vh;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 20% 20% 20% 20% 20%;
}

.footer1 {
  grid-row: 1/2;
  grid-column: 1/2;
  background-color: red;
}

.footer2 {
  grid-row: 1/2;
  grid-column: 2/3;
  background-color: royalblue;
}

.footer3 {
  grid-row: 1/2;
  grid-column: 3/4;
  background-color: red;
}

.footer4 {
  grid-row: 1/2;
  grid-column: 4/5;
  background-color: royalblue;
}

.footer5 {
  grid-row: 1/2;
  grid-column: 5/6;
  background-color: red;
}
