* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f2f2;
    height: 9vh;
    border-bottom: 1px #e5e2e2 solid;
}

header div{
    font-size: 2em;
}

footer {
    background-color: #f5f2f2;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 6vh;
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-size: 1.3em;
    border-top: 1px #e5e2e2 solid;
  }
  
  .footer-name {
    font-size: 0.5em;
    display: block;
  }
  
  footer a {
    text-decoration: none;
  }