* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

footer {
  background-color: #f5f2f2;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 6vh;
  display: flex;
  justify-content: space-around;
  text-align: center;
  font-size: 1.3em;
}

.footer-name {
  font-size: 0.5em;
  display: block;
}

footer a {
  text-decoration: none;
}