main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: #E3F1FC;
    height: 85vh;
}main {
    background: #ffffff;
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

table {
    border-collapse: collapse; 
    width: 70vw;
    margin-top: 5vh;
}

thead {
    margin: 5vh 0;
    width: 70vw;
    background: #E3F1FC;
}

tr {
    border-bottom: solid black 1px;
}

td {
    display: flex;
    flex-direction: column;
    align-items: center;
}

th, td {
    font-size: 24px;
    padding: 1vh 0;
    vertical-align: super;
    font-weight: normal;
}

.day{
    font-size: 12px;
}
