*{
    padding: 0;
    margin: 0;
    border: none;
}

main{
    height: 80vh;
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#top{
    background-color: blue;
    height: 10vh;
    margin: 7%;
    font-size: 3em;
    display: flex;
    justify-content: center;
}

#message{
    background-color: yellow;
    height: 10vh;
    margin: 7%;
    font-size: 1.5em;
    line-height: 1.5em;
    letter-spacing: 0.2em;
    text-indent: 1em;
}

footer{
    background-color: black;
    height: 20vh;
}