main{
    height: 94vh;
    background-image: url("../image/index/wallpaper.png");
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#top{
    height: 10vh;
    margin: 7%;
    font-size: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
}

#message{
    background-image: url("../image/index/textbox.png") ;
    background-size: 100% 100%;
    color: white;
    height: 20vh;
    margin: 7%;
    padding: 5%;
    font-size: 1.5em;
    line-height: 1.5em;
    letter-spacing: 0.2em;
    text-indent: 1em;
}

#tree img{
  height: 42vh;
}