main {
    position: relative;
    background-color: #E3F1FC;
    height : 85vh;
}

table {
    background-color: white;
}

#add {
    position: absolute;
    bottom: 5vh;
    right: 5vh;
    background-color: rgb(75, 75, 255);
    height: 75px;
    width: 75px;
    border-radius: 1000px 1000px 1000px 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#add p {
    margin-left: 15px;
}